<% include ../partials/header %>
<div class="container">
  <div class="row">
    <h1 class="new">Edit <%= campground.name %></h1>

    <div class="smallCenter">

      <form action="/campgrounds/<%= campground._id %>/?_method=PUT" method="post">
          <div class="form-group">
            <input class="form-control" type="text" name="campground[name]" placeholder="name" value="<%= campground.name %>">
          </div>
          <div class="form-group">
            <input class="form-control" type="text" name="campground[imageUrl]" placeholder="image url" value="<%= campground.image %>">
          </div>
          <div class="form-group">
            <input class="form-control" type="text" name="campground[description]" placeholder="description" value="<%= campground.description %>">
          </div>
          <button class="btn btn-default btn-lg btn-block">Submit!</button>
      </form>

      <a href="/campgrounds">Back</a>
    </div>

  </div>
</div>

<% include ../partials/footer %>
